
$font-stack:    'Oxygen', sans-serif;
$primary-color: #333;
$background-color: #556270;

html {
  width: 100%;
  height: 100%;
}

body {
	margin: 0;
	background: $background-color;
	color: #353d46;
	font: 18px/27px $font-stack;
}

div#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #fcfeff;
  border-radius: 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -moz-box-shadow: -3px 0 6px darken(#556270, 5%);
  -webkit-box-shadow: -3px 0 6px darken(#556270, 5%);
  box-shadow: -3px 0 6px darken(#556270, 5%);

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

body.menu-active div#content { left: 284px; border-radius: 7px 0 0 7px; }
body.menu-active div#content .menu-trigger { left: 294px; }

svg {
  font: 10px sans-serif;
}

.area {
  fill: steelblue;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.visualizer-view {
  height: 450px;
  overflow: scroll;
  &::-webkit-scrollbar { 
    display: none; 
  }
}

.pgm-container svg {
  display: block;
  margin: auto;
}

.data-row {
  &:hover {
    cursor: pointer;
    color: #AD999E;
  }
}
